model/
orthanc/Configuration/
orthanc/Logs/
orthanc/Plugins/
orthanc/Storage/
orthanc/Tools/
orthanc/WebViewerCache/
orthanc/index
orthanc/index-shm
orthanc/index-wal
orthanc/License.rtf
orthanc/Orthanc.exe
orthanc/Orthanc.ico
orthanc/OrthancService.exe
orthanc/Osimis.ico
orthanc/PatchDefaultConfiguration.exe
orthanc/README.txt
orthanc/unins000.dat
orthanc/unins000.exe
